.doc-container
{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100vw;
    background-color: #4863ff;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.header-doc
{
    margin-bottom: 15px;
}
.carusel-doc
{
    display: none;
}
.main-slider-doc
{
    height: 60vh;
}
.img-doc-carusel
{
    height: 100%;
    max-width: 90vw;
    border-radius: 15px;
}
.img-doc-div
{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 80%;
    width: 100vw;
    transition: .3s;
    border-radius: 15px;
    max-width: 90vw;
}
.img-doc
{
    -webkit-box-shadow: 0px 0px 12px 1px #000000; 
    box-shadow: 0px 0px 12px 1px #000000;
    border-radius: 15px;
    width: 30%;
    height: 100%;
}
.doc-name
{
    margin-bottom: 15px;
}
@media only screen and (max-width:960px) 
{
    .img-doc-div
    {
        display: none;
    }
    .carusel-doc
    {
        display: block;
    }
    
}