.servicii-container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2000px;
    background-image: url(../assets/tree.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-tricks
{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.tips-tricks
{
    background-color: #4863ff56;
    height: 80%;
    width: 40%;
    border-radius: 15px;
}
.container-servicii
{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 40%;
}
.servicii-hover-header
{
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    transition: 350ms;
}
.servicii > img
{
    height: 100%;
}
.servicii-header
{
    color: white;
    margin-bottom: 50px;
    font-size: 4rem;
    width: 100%;
    text-align: center;
}
.servicii
{
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 30%;
    object-fit: contain;
    transition: 350ms;
    /* background-color: rgb(61, 82, 179); */
    background-color: #4863ff56;
}
.carousel .slider
{
    display: block;
}
.servicii:hover
{
    background-color: rgb(43, 60, 133);

}
.servicii:hover > .servicii-hover-header
{
    bottom: 50%;
}
@media only screen and (max-width: 960px) {

    .servicii-header
    {
        margin-bottom: 0px;
    }
    .servicii-container
    {
        margin-bottom: 50px;
        background-attachment:unset;
    }
    .container-tricks
    {
        flex-direction: column;
        height: 90%;
        align-items: center;
    }
    .container-servicii
    {
        height: 50%;
        width: 90%;
    }
    .tips-tricks
    {
        width: 90%;
        height: 50%;
    }
    .container-servicii
    {
        margin-top: 5%;
    }
.servicii-header
{
    font-size: 3rem;
}
}